*{
    margin: 0;
    padding: 0;
    font-family: arial;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(media/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #000;
    color: #fff;
}

.logo img{
    float: left;
    padding: 15px;
    width: 75px;
    height: 70px;
}

.main{
    max-width: 1200px;
    margin: auto;
}

ul li.active a{
    background-color: #000;
    color: #fff;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.title h3{
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: sans-serif;
}

.title h4{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: monospace;
    width: 100%;
}

.button{
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px 30px;
    color: #fff;
    font-family: Verdana;
    text-decoration: none;
    transition: 0.8s ease;
}

.btn:hover{
    background-color: rgb(66, 0, 0);
    color: #fff;
    border-color: rgb(66, 0, 0);
}

.content{
    background-color: #0009;
    width: 190vh;
    height: 145px;
    padding: 25px;
    position: absolute;
    top: 28%;
    left: 2%;
    right: 2%;
    border: 1px solid #e73f00;
}

.content p{
    color: #ff2e1d;
    font-family: -apple-system, Ubuntu;
    font-size: 22.5px;
}

table{
    left: 0px;
}

table tr{
    color: #fff;
    font-family: Tahoma;
}

.content1{
    background-color: rgb(184, 184, 184);
    width: 195.2vh;
    height: 35px;
    padding: 25px;
    position: absolute;
    top: 98%;
    left: 0%;
    border: 1px solid #000;
}

.content1 p{
    font-family: -apple-system, Cantarell;
    font-size: 20px;
}

#img_content{
    background-color: rgb(255, 255, 255);
    /* width: 20vh;
    height: 35px; */
    padding: 25px;
    position: absolute;
    top: 110%;
    left: 25%;
    border: 1px solid #ffcd00;
}

#img_content img{
    position: relative;
    top: 0px;
    left: 2%;
}

html{
    overflow-y: scroll;
       scrollbar-color:  #17202a   #cacfd2 ;
       scrollbar-width: auto;
}

#word_content2{
    background-color: #0000;
    padding: 20px;
    position: absolute;
    width: 96.8%;
    top: 75%;
    left: 0%;
}

#word_content2 p{
    font-family: Ubuntu;
    font-size: xx-large;
    color: #d64700;
}


#button_aboutmychannel a button{
    position: absolute;
    background-color:  #c0392b ; 
    top: 172.5%;
    left: 67.5vh;
    border: 1px solid #000;
    border-radius: 15px;
    color: #ffffff;
    font-family: Arial;
    font-size: 40px;
    transition: 0.8s ease;
}

#button_aboutmychannel a button:hover{
    background-color: #641e16 ;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(media/bg.jpg);
}

.banner-area h1{
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: #ffffff;
}

#bg{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(media/bg 2.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.main{

 margin: 0%;
}

.card{
     width: 18.7%;
     height: auto;
     display: inline-block;
     background-color: #fff;
     box-shadow: 15px 15px 20px black;
     border-radius: 5vh;
     margin: 2%;
}

.image img{
  width: 100%;
  height: 100px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.title{
  text-align: center;
  padding: 10px;
}

h1{
  font-size: 20px;
 }

.des{
  padding: 3px;
  text-align: center;
  padding-top: 10px;
  font-size: 14.5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.view_button button{
  margin-top: 2px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
  width: 80%;
  font-size: 17.5px;
}

.view_button button:hover{
  background-color: #06152d;
  color: white;
  transition: 0.5s;
}


#html_word{
    background-color: #0009;
    width: 195.2vh;
    height: 240px;
    padding: 25px;
    position: absolute;
    top: 30%;
    left: 2.5%;
    border: 1px solid #68fff4;
}

#html_word p{
    font-family: 'times new Roman'
    font-size: medium;
    color: #a2fdf6;
}

.read_more a button{
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #00d7ac;
    border-radius: 70px;
    padding: 10px 30px;
    background-color: #0000;
    color: #00cd7c;
    font-family: Arial;
    text-decoration: none;
    transition: 0.8s ease;
    font-size: large;
}

.read_more a button:hover{
    background-color: #13f0c4;
    border-color: #13f0c4;
    color: #001723;
}

#html_word_content{
    background-color: #0000;
    width: 153.1vh;
    height: 5px;
    padding: 25px;
    position: absolute;
    top: 82.5%;
    left: 25%;
}

#html_word_content p{
    font-family: Arial;
    font-size: xx-large;
    color: #3580ff;
}

#scratch_content{
    background-color: #0009;
    width: 100vh;
    height: 285px;
    padding: 25px;
    position: absolute;
    top: 25%;
    left: 23.8%;
    border: 1.5px solid   #34495e ;
}

#scratch_content p{
    color:  #839192 ;
    font-size: x-large;
}

#scratch_button a button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1.5px solid #7b7d7d ;
    padding: 10px 30px;
    background-color: #0000;
    color:  #626567 ;
    font-family: Arial;
    text-decoration: none;
    transition: 0.8s ease;
    font-size: large;
}

#scratch_button a button:hover{
    background-color:  #17202a;
    border-color: #13f0c4;
    color:   #d0d3d4 ;
}
